# deps
frontend/node_modules/
backend/venv/

# Next.js
frontend/.next/
frontend/out/

# env
frontend/.env.local
backend/.env

# misc
.DS_Store
backend/data/census_raw/
backend/migrate_to_pinecone.py
backend/ingest_log.txt
backend/max_ingest_log.txt
__pycache__/
